/* ==================== QUIZZ CREATE PAGE 1 ====================*/
.quizz-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}

.quizz-start h2,
.quizz-questions h2,
.quizz-levels h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-top: 35px;
}

.basic-informations {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.basic-informations input,
.question input,
.level input {
  width: 90vw;
  max-width: 565px;
  height: 45px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-size: 19px;
  margin: 5px;
  padding: 0 15px;
}

.basic-informations input::placeholder,
.question input::placeholder,
.level input::placeholder {
  font-style: italic;
}

.quizz-start button,
.quizz-questions button,
.quizz-levels button {
  width: 80vw;
  max-width: 370px;
  height: 55px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #EC362D;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.alert {
  font-size: 16px;
  font-weight: 400;
  color: #EC362D;
  margin: 2px 0;
}

.hide {
  display: none;
}

/* ==================== QUIZZ CREATE PAGE 2 ====================*/

.quizz-questions,
.quizz-levels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-question,
.all-levels {
  width: 100%;
  height: auto;
}

.question,
.level {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  text-align: left;
}

.expand {
  height: 75px;
  overflow: hidden;
  justify-content: flex-start;
  transition: all 1s linear;
}

.question :first-child,
.level :first-child {
  width: 90vw;
  max-width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3,
.level h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.level-text {
  height: 180px;
}

.quizz-sucess {
  width: 340px;
  margin: 108px auto;
}

.question ion-icon,
.level ion-icon {
  width: 30px;
  height: 30px;
  font-size: 26px;
  color: #000000;
  cursor: pointer;
}

.quizz-sucess h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 29px;
}

.quizz-sucess p {
  font-size: 19px;
  line-height: 22px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  word-break: break-all;
}

.sucess-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.sucess-btn {
  width: 220px;
  height: 44px;

  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .quizz-sucess {
    width: 500px;
  }

  .quizz-sucess .gradient {
    width: 500px;
    height: 266px;
  }

  .quizz-sucess img {
    width: 500px;
    height: 266px;
  }

  .quizz-sucess p {
    font-size: 23px;
    line-height: 27px;
    left: 20px;
  }

  .sucess-btns {
    margin-top: 45px;
  }

  .sucess-btn {
    font-size: 21px;
    line-height: 25px;
  }
}